@import 'variables';

main {
    @extend %pageWidth;

    // FLEXBOX SERVIZI
    .serv-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 30px auto;

        @media all and (max-width:800px) {
            width: 100%;
        }

        // CARD
        .flip-card {
            width: 500px;
            height: 200px;
            perspective: 1000px;
            margin: 20px;

            @media all and (max-width:800px) {
                align-self: center;
            }

            @media all and (max-width:440px) {
                width: 350px;
                height: 150px;
            }

            // Posizionamento alternato nel serv-container
            &:nth-of-type(even) {
                align-self: flex-end;

                @media all and (max-width:800px) {
                    align-self: center;
                }
            }

            // Posizionamento front e back
            .flip-card-inner {
                position: relative;
                width: 100%;
                height: 100%;
                transition: transform .8s;
                transform-style: preserve-3d;

                .card-face {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    // Nascondo faccia back
                    backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
                    -moz-backface-visibility: hidden;
                    @extend %cardStyle;

                    // Card front
                    &.card-front {
                        display: flex;
                        flex-wrap: nowrap;
                        align-content: center;
                        justify-content: space-between;

                        div {
                            width: 40%;
                            height: calc(100% - 40px);
                            margin: 20px;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;

                            &.title {
                                align-content: center;
                                text-align: center;

                                h1 {
                                    margin: auto;

                                    @media all and (max-width:440px) {
                                        font-size: 1.2em;
                                    }
                                }
                            }

                            &.image img {
                                display: block;
                                width: 100%;
                                object-fit: cover;
                                border-radius: 30px;
                                filter: blur(1px);
                            }
                        }
                    }

                    // Card back
                    &.card-back {
                        transform: rotateY(180deg);
                        display: flex;
                        flex-wrap: wrap;
                        align-content: center;
                        justify-content: center;

                        ul {
                            list-style-type: none;
                            padding: 0;
                            text-align: center;

                            li {
                                margin: 5px;
                            }
                        }
                    }
                }
            }

            // Rotation
            &:hover {
                .flip-card-inner {
                    transform: rotateY(180deg);
                }
            }
        }
    }
}